server/packages/*
server/DepthViewerServer/obj/*
server/DepthViewerServer/bin/*
server/DepthViewerServer/Properties/PublishProfiles/*
server/DepthViewerServer.Tests/obj/*
app/DepthViewer/Services/ParseConfig.cs

server/DepthViewerServer/Services/ParseConfig.cs
server/.vs/DepthViewerServer/v14/.suo
app/DepthViewer/Models/ParseConfig.cs

app/DepthViewer.Core/bin/*
app/DepthViewer.Core/obj/*
app/UITests/obj/Debug/*
app/iOS/obj/*
app/DepthViewer.X/obj/Debug/*
app/DepthViewer.X/bin/*
app/Droid/bin/Debug/*
app/Droid/obj/Debug/*
app/iOS/bin/*
app/DepthViewer.X/obj/*
app/DepthViewer.X/obj/*
app/Droid/obj/Debug/*
app/Droid/obj/MyDebug/android/bin/*
app/Droid/obj/MyDebug/*
app/Droid/bin/*
