server/packages/*
server/DepthViewerServer/obj/*
server/DepthViewerServer/bin/*
server/DepthViewerServer/Properties/PublishProfiles/*
server/DepthViewerServer.Tests/obj/*
app/DepthViewer/Services/ParseConfig.cs
