<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.MvvmCross.Plugins.FileSystem" version="2.1.0" targetFramework="monoandroid60" />
  <package id="MvvmCross" version="4.1.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Binding" version="4.1.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Core" version="4.1.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Droid.FullFragging" version="4.1.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Droid.Support.V7.Fragging" version="4.1.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Platform" version="4.1.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Plugin.DownloadCache" version="4.1.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Plugin.File" version="4.1.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Plugin.Json" version="4.1.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="monoandroid60" />
  <package id="MvvmCross.StarterPack" version="4.1.0" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="monoandroid60" />
  <package id="portable.accord.core" version="3.0.2.60302" targetFramework="monoandroid60" />
  <package id="portable.accord.imaging" version="3.0.2.60302" targetFramework="monoandroid60" />
  <package id="portable.accord.machinelearning" version="3.0.2.60302" targetFramework="monoandroid60" />
  <package id="portable.accord.math" version="3.0.2.60302" targetFramework="monoandroid60" />
  <package id="portable.accord.math.nocom" version="3.0.2.60302" targetFramework="monoandroid60" />
  <package id="portable.accord.statistics" version="3.0.2.60302" targetFramework="monoandroid60" />
  <package id="shim" version="2.0.0" targetFramework="monoandroid60" />
  <package id="shim.drawing" version="3.0.0" targetFramework="monoandroid60" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="MonoAndroid60" />
  <package id="UrhoSharp" version="1.0.381" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.1.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.1.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.1.1.1" targetFramework="monoandroid60" />
</packages>